  <% flash.each do |key, value| %>
     <div class="flash alert text-warning bg-warning"><%= value %></div>
  <% end %>

  <div class="jumbotron azul-duoc-2 bkg-banner">
    <p style="text-align: right;margin-right: 60px;"><a class="btn btn-lg btn-success" href="/product_list" role="button">Ver Listado Productos</a></p>
  </div>

  <div class="row marketing" style="text-align: center;">
    <div class="col-lg-12">
    <a href="/">
      <%= image_tag("home-info.jpg", :alt => "Pañol DuocUC") %>   
    </a>
<!--       <% @products1.each do |product| %>
      
        <h4><%= product.nombre %></h4>
        <p><%= product.descripcion  %></p>          
      <% end %> -->

    </div>
  </div>

  