<br><br>


  <table id="tabla_confirmacion_reservas" class="table table-hover table-striped">
    
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Dias Prestamo</th>
        <th>Usuario</th>
      </tr>
    </thead>
    <tbody>
      
      <% @reservas.each do |reserva| %>
        <tr>
          <td><%= reserva.product.nombre %></td>
          <td><%= reserva.productos_solicitados %></td>
          <td><%= reserva.product.dias_prestamo %></td>
          <td><%= @user.email %></td>
        </tr>
      <% end %>                    
    
    </tbody>
  </table>
  <br>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <a href="/solicitud_reservas/cancelar_reservas?alert=reserva_cancelada" class="btn btn-danger btn-block">Descartar Reservas</a>
    </div>    
    <div class="col-md-3">
      <a href="/solicitud_reservas/confirmar_reservas" _method="post" class="btn btn-success btn-block">Confirmar Reservas</a>
    </div>

  </div>


