

<nav class="navbar navbar-default azul-duoc-1" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    <div class="navbar-brand">
      <a href="http://www.duoc.cl/inicio">

      </a>
    </div>
    <div class="navbar-brand" style="padding: 5px 0px 0px 35px;">
      <a href="http://www.duoc.cl/inicio">
        <%= image_tag("logo.png", :alt => "Estudia en DuocUC", :width => "70%") %>
      </a>
    </div>




    <div class="navbar-header">
      <a href="/" class="navbar-brand nav-text-color" ><b>Sistema Pañol Duoc</b></a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <% if current_user.try(:rol) == "admin" %>

      

        <li class="dropdown">
          
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mantenedores <span class="caret"></span></a>
          <ul class="dropdown-menu nav-text-color">
            <li class="nav-item nav-text-color">
              <a class="nav-link" href="/categories">Mantenedor Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Mantenedor Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Mantenedor Usuarios</a>
            </li>              
            <li class="nav-item">
              <a class="nav-link" href="/solicitud_reservas">Mantenedor Reservas</a>
            </li>  
          </ul>
          
        </li>          

        <% elsif current_user.try(:rol) == "alumno" %>

          <li class="nav-item">
            <a class="nav-link" href="/product_list">Generar Reserva</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= @user.try(:id) || User.alumnos.first.try(:id) %>">Mis Reservas</a>
          </li>        

        <% end %>



        <% if current_user.present? %>
          <li class="nav-item">
            <a class="nav-link " href="/users/sign_out" data-method="delete">Salir</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">Registrarse</a>
          </li>        
        <% end %> 

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


