.azul-duoc-1 {
  background-color: #003865;
}

.azul-duoc-2 {
  background-color: #013c75;;
}

.nav-text-color {
  color: #fff !important;
}

.bkg-banner{
  background: url(./banner-home.jpg) no-repeat left top;
  background-position: center;
  padding-top: 17%;
}
.login-box{
  background-color: rgba(0, 56, 101, 0.1);
  padding: 20px;
  border-radius: 4px;  
}

.servicios{
  background: url(./servicios.jpg) no-repeat left top;
  background-position: center;  
}


/* FOOTER */
.bkg-footer{
  background-color: #003865;  
  border-radius: 4px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-top: solid 5px #FAAF3A;
}


/* sobreescritos */

.navbar-default .navbar-nav>li>a {
  color: #fff !important;
}
.btn-success {
    color: #fff;
    background-color: #013c75;
    border-color: #013c75;
}

.btn-success:hover {
    color: #fff;
    background-color: #3270ad;
    border-color: #3270ad;
}

.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #3270ad;
    border-color: #3270ad;
}

.btn-success.focus, .btn-success:focus {
    color: #fff;
    background-color: #3270ad;
    border-color: #3270ad;
}

.btn-success:hover {
    color: #fff;
    background-color: #3270ad;
    border-color: #3270ad;
}

.btn-default{
  color: black!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #337ab7;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #003865;
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0); 
    font-weight: 500;
}




