<form class="form" method="POST" action="/categories/<%= category.id %>">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="sERFm6fNwz3b8TlGt/qJw6uiszpdwRbn1kelLmp8avCQnJz1H0+APQ8hqYgE3aO0HhEGMn27MwWjpeHAArpxcA==">

  <div class="form-group">
    <label >Nombre:</label>
    <input type="text" class="form-control" name="category[nombre]" value="<%= category.nombre %>">  
  </div>


  <div class="form-group">
    <label >Descripcion:</label>
    <input type="text" class="form-control" name="category[descripcion]" value="<%= category.descripcion %>">
  </div>


  <br>
  <button type="submit" class="form-control btn btn-success">Guardar</button>  
</form>
