<p>Estimado <%= @resource.email %>!</p>

<p>Hemos recibido una solicitud para resetear su contrase単a</p>

<p><%= link_to 'Resetear mi contrase単a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no ha solicitado esto, porfavor ignore este correo</p>
<p>Su contrase単a no cambiara hasta que siga el link entregado y actualize su nueva contrase単a</p>
