<br><br><br><br><br><br>
<footer class="footer bkg-footer">
  <div class="row" style="color: #fff; font-size: 11px">
    <div class="col-md-2">
      <strong>DUOC UC</strong>
      <br>Reglamento Académico
      <br>Políticas de Privacidad
      <br>Autoridades
    </div>
    <div class="col-md-2">
      <strong>ADMISIÓN 2017</strong>
      <br>Carreras, escuelas y sedes
      <br>Proceso de admisión
      <br>Alternativas de financiamiento
      <br>Preguntas frecuentes
     
    </div>
    <div class="col-md-4">
      <a href="https://www.facebook.com/DuocUC">
        <%= image_tag("rs.png", :alt => "Redes Sociales") %>
      </a>      
    </div>
    <div class="col-md-3">
        <%= image_tag("acreditado7-2016.png", :alt => "Acreditado") %>   
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    <p style="text-align: center;">&copy; Sistema Pañol 2017</p>    
    </div>
  </div>    
</footer>

